<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Xeedit Command"
            id="Xeedit.commands.category">
      </category>
      <command
            categoryId="Xeedit.commands.category"
            id="Xeedit.commands.moveCursorUpwardByIndent"
            name="Move Cursor Upward By Indent">
      </command>
      <command
            categoryId="Xeedit.commands.category"
            id="Xeedit.commands.moveCursorDownwardByIndent"
            name="Move Cursor Downward By Indent">
      </command>
      <command
            categoryId="Xeedit.commands.category"
            id="Xeedit.commands.moveCursorUpwardByBlock"
            name="Move Cursor Upward By Block">
      </command>
      <command
            categoryId="Xeedit.commands.category"
            id="Xeedit.commands.moveCursorDownwardByBlock"
            name="Move Cursor Downward By Block">
      </command>
      <command
            categoryId="Xeedit.commands.category"
            id="Xeedit.commands.selectTextUpwardByIndent"
            name="Select Text Upward By Indent">
      </command>
      <command
            categoryId="Xeedit.commands.category"
            id="Xeedit.commands.selectTextDownwardByIndent"
            name="Select Text Downward By Indent">
      </command>
      <command
            categoryId="Xeedit.commands.category"
            id="Xeedit.commands.selectTextUpwardByBlock"
            name="Select Text Upward By Block">
      </command>
      <command
            categoryId="Xeedit.commands.category"
            id="Xeedit.commands.selectTextDownwardByBlock"
            name="Select Text Downward By Block">
      </command>
      <command
            categoryId="Xeedit.commands.category"
            id="Xeedit.commands.removeTrailingWhiteSpace"
            name="Remove Trailing White Space">
      </command>
      <command
            categoryId="Xeedit.commands.category"
            id="Xeedit.commands.markTextOccurrence"
            name="Mark Text Occurrence">
      </command>
      <command
            categoryId="Xeedit.commands.category"
            id="Xeedit.commands.toggleWordWrap"
            name="Toggle Word Wrap">
      </command>
      <command
            categoryId="Xeedit.commands.category"
            id="Xeedit.commands.toggleShowTaskTags"
            name="Toggle Show Task Tags">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="xeedit.handlers.MoveCursorUpwardByIndent"
            commandId="Xeedit.commands.moveCursorUpwardByIndent">
      </handler>
      <handler
            class="xeedit.handlers.MoveCursorDownwardByIndent"
            commandId="Xeedit.commands.moveCursorDownwardByIndent">
      </handler>
      <handler
            class="xeedit.handlers.MoveCursorUpwardByBlock"
            commandId="Xeedit.commands.moveCursorUpwardByBlock">
      </handler>
      <handler
            class="xeedit.handlers.MoveCursorDownwardByBlock"
            commandId="Xeedit.commands.moveCursorDownwardByBlock">
      </handler>
      <handler
            class="xeedit.handlers.SelectTextUpwardByIndent"
            commandId="Xeedit.commands.selectTextUpwardByIndent">
      </handler>
      <handler
            class="xeedit.handlers.SelectTextDownwardByIndent"
            commandId="Xeedit.commands.selectTextDownwardByIndent">
      </handler>
      <handler
            class="xeedit.handlers.SelectTextUpwardByBlock"
            commandId="Xeedit.commands.selectTextUpwardByBlock">
      </handler>
      <handler
            class="xeedit.handlers.SelectTextDownwardByBlock"
            commandId="Xeedit.commands.selectTextDownwardByBlock">
      </handler>
      <handler
            class="xeedit.handlers.RemoveTrailingWhiteSpace"
            commandId="Xeedit.commands.removeTrailingWhiteSpace">
      </handler>
      <handler
            class="xeedit.handlers.MarkTextOccurrences"
            commandId="Xeedit.commands.markTextOccurrence">
      </handler>
      <handler
            class="xeedit.handlers.ToggleWordWrap"
            commandId="Xeedit.commands.toggleWordWrap">
      </handler>
      <handler
            class="xeedit.handlers.ToggleShowTaskTags"
            commandId="Xeedit.commands.toggleShowTaskTags">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="Xeedit.commands.moveCursorUpwardByIndent"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+ARROW_UP">
      </key>
      <key
            commandId="Xeedit.commands.moveCursorDownwardByIndent"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+ARROW_DOWN">
      </key>
      <key
            commandId="Xeedit.commands.moveCursorUpwardByBlock"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+[">
      </key>
      <key
            commandId="Xeedit.commands.moveCursorDownwardByBlock"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+]">
      </key>
      <key
            commandId="Xeedit.commands.selectTextUpwardByIndent"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+ARROW_UP">
      </key>
      <key
            commandId="Xeedit.commands.selectTextDownwardByIndent"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+ARROW_DOWN">
      </key>
      <key
            commandId="Xeedit.commands.selectTextUpwardByBlock"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+[">
      </key>
      <key
            commandId="Xeedit.commands.selectTextDownwardByBlock"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+]">
      </key>
      <key
            commandId="Xeedit.commands.removeTrailingWhiteSpace"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+\">
      </key>
      <key
            commandId="Xeedit.commands.markTextOccurrence"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M3+N">
      </key>
      <key
            commandId="Xeedit.commands.toggleWordWrap"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M3+W">
      </key>
      <key
            commandId="Xeedit.commands.toggleShowTaskTags"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+T">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerType="xeedit.marker.occurrence"
            name="xeedit.marker.occurrence">
      </type>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="xeedit.marker.occurrence"
            colorPreferenceKey="xeedit.marker.occurrence.color"
            colorPreferenceValue="14,118,14"
            contributesToHeader="true"
            highlightPreferenceKey="xeedit.marker.occurrence.highlight"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            isGoToNextNavigationTarget="true"
            isGoToNextNavigationTargetKey="true"
            isGoToPreviousNavigationTarget="true"
            isGoToPreviousNavigationTargetKey="true"
            label="Xeedit Text Occurrence"
            overviewRulerPreferenceKey="xeedit.marker.occurrence.overview"
            overviewRulerPreferenceValue="true"
            presentationLayer="0"
            showInNextPrevDropdownToolbarAction="true"
            showInNextPrevDropdownToolbarActionKey="true"
            symbolicIcon="info"
            textPreferenceKey="xeedit.marker.occurrence.text"
            textPreferenceValue="true"
            textStylePreferenceValue="BOX"
            verticalRulerPreferenceKey="xeedit.marker.occurrence.ruler"
            verticalRulerPreferenceValue="true">
      </specification>
   </extension>
   <extension
         id="xeedit.marker.occurrence"
         name="Xeedit Text Occurrence Marker"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="true">
      </persistent>
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
   </extension>
<!--
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="Sample Menu"
               mnemonic="M"
               id="Xeedit.menus.sampleMenu">
            <command
                  commandId="Xeedit.commands.sampleCommand"
                  mnemonic="S"
                  id="Xeedit.menus.sampleCommand">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="Xeedit.toolbars.sampleToolbar">
            <command
                  commandId="Xeedit.commands.sampleCommand"
                  icon="icons/sample.gif"
                  tooltip="Say hello world"
                  id="Xeedit.toolbars.sampleCommand">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
-->
</plugin>
